.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

nav .navbar-nav li a {
    color: rgba(253, 255, 134, 0.884) !important;
    font-weight: 500;
}

nav .navbar-nav li a:hover {
    color: white !important;
}